<ion-view id="main" ng-style="{'background-color':currentVenue.setting.value.background_color?currentVenue.setting.value.background_color:'#99ffff'}">
    <ion-content class="padding-20">
        <ul class="alert" ng-if="alerts.length">
            <li ng-repeat="alert in alerts">{{alert.msg}} <i ng-click="removeAlert($index)" class="icon ion-close-circled stable"></i></li>
        </ul>
        <ul class="success" ng-if="success.length">
            <li ng-repeat="s in success">{{s.msg}} <i ng-click="removeSuccess($index)" class="icon ion-close-circled stable"></i></li>
        </ul>
        <div class="row">
            <div class="col-50">
                <span style="font:70px 'Lobster', cursive;">{{currentVenue.setting.value.heading_text || 'Join Today'}}</span>
            </div>
            <div class="col-50 text-right">
                <img ng-src="{{currentVenue.image?currentVenue.image:'./img/logo.png'}}" alt="" style="max-height: 88px;">
            </div>
            <div class="col-50 text-right">
                <img ng-src="./img/logo.png" alt="" style="max-height: 88px;">
            </div>
        </div>
        <div class="list join-form" ng-form="myForm">
            <label class="item item-input item-icon-right" ng-class="{true:'focused',false:'blur' }[first_name_focus]">
                <span class="input-label">First Name</span>
                <input type="text" name="first_name" ng-model="member.first_name" placeholder="First Name" ng-focus="first_name_focus=true" ng-blur="first_name_focus=false" required>
                <i ng-if="myForm.first_name.$valid" class="icon ion-checkmark-circled balanced"></i>
                <span ng-if="myForm.first_name.$invalid && myForm.first_name.$dirty" class="energized error-text"><i class="icon ion-alert-circled">Required</i></span>
            </label>
            <label class="item item-input item-icon-right" ng-class="{true:'focused',false:'blur' }[last_name_focus]">
                <span class="input-label">Last Name</span>
                <input type="text" name="last_name" ng-model="member.last_name" placeholder="Last Name" ng-focus="last_name_focus=true" ng-blur="last_name_focus=false" required>
                <i ng-if="myForm.last_name.$valid" class="icon ion-checkmark-circled balanced"></i>
                <span ng-if="myForm.last_name.$invalid && myForm.last_name.$dirty" class="error-text energized"><i class="icon ion-alert-circled">Required</i></span>
            </label>
            <label class="item item-input item-icon-right" ng-class="{true:'focused',false:'blur' }[email_focus]">
                <span class="input-label">Email</span>
                <!--<input type="email" name="email" ng-model="member.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,6}$/" required email-exists>-->
                <!--<i ng-if="myForm.email.$valid" class="icon ion-checkmark-circled balanced"></i>-->
                <!--<span ng-if="myForm.email.$error.emailExists" class="energized"><i class="icon ion-alert-circled"></i> Email has been taken</span>-->
                <!--<span ng-if="myForm.email.$error.required && myForm.email.$dirty" class="energized"><i class="icon ion-alert-circled energized"></i> Required</span>-->
                <input type="email" name="email" ng-model="member.email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' placeholder="Email" ng-focus="email_focus=true" ng-blur="email_focus=false" required>
                <i ng-if="myForm.email.$valid" class="icon ion-checkmark-circled balanced"></i>
                <span ng-if="myForm.email.$error.required && myForm.email.$dirty" class="error-text energized"><i class="icon ion-alert-circled energized">Required</i></span>
            </label>
            <label class="item item-input item-icon-right" ng-class="{true:'focused',false:'blur' }[mobile_focus]">
                <span class="input-label">Mobile</span>
                <input type="tel" name="mobile" ng-model="member.mobile_string" ng-pattern="/^\({0,1}((0|\+61)(2|4|3|7|8)){0,1}\){0,1}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{2}(\ |-){0,1}[0-9]{1}(\ |-){0,1}[0-9]{3}$/g" placeholder="Mobile" ng-focus="mobile_focus=true" ng-blur="mobile_focus=false" required>
                <span ng-if="myForm.mobile.$invalid && myForm.mobile.$dirty" class="error-text energized"><i class="icon ion-alert-circled energized">Please enter your mobile</i></span>
                <i ng-if="myForm.mobile.$valid" class="icon ion-checkmark-circled balanced"></i>
            </label>
            <label class="item item-input item-icon-right" ng-class="{true:'focused',false:'blur' }[postcode_focus]">
                <span class="input-label">Postcode</span>
                <input type="number" name="postcode" ng-model="member.postcode" ng-pattern="/^\d{4}$/" placeholder="Postcode" ng-focus="postcode_focus=true" ng-blur="postcode_focus=false" required>
                <span ng-if="myForm.postcode.$invalid && myForm.postcode.$dirty" class="error-text energized"><i class="icon ion-alert-circled energized">Required</i></span>
                <i ng-if="myForm.postcode.$valid" class="icon ion-checkmark-circled balanced"></i>
            </label>
            <!--<p>{{lists | json}}</p>-->

            <div>
                <button class="button button-block button-balanced" ng-disabled="myForm.$invalid || !isLogin()" ng-click="addMember(member, venue_id, operator, myForm)">
                    {{currentVenue.setting.value.submit_button_text || 'Go'}}
                </button>
            </div>
        </div>

        <!-- <p>{{member | json}}</p> -->
    </ion-content>

    <div class="bar bar-footer bar-clear main-footer">
        <!--<a href="button button-clear"><img style="max-height: 100%;" ng-src="./img/vectron_pos_logo.svg" alt=""></a>-->
        <div style="visibility: hidden;" class="title">{{operator}}</div>
        <button class="button icon ion-person button-balanced" ng-click="showLogin()"></button>
    </div>
</ion-view>
